@import url('https://fonts.googleapis.com/css2?family=Changa&family=Press+Start+2P&display=swap');

:root {
    --size: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /* the width and height will be fully represented the content */
    /* if border-box means the width and height = content + border */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    overflow-x: hidden;
    padding: 50px;
    font-family: 'Changa', sans-serif;
}

header > h1, button, input, #close, a {
    transition: all ease-in-out .7s;
}

header > h1:hover, button:hover, input:hover, #close:hover, a {
    transform: scale(1.2);
}

/* ------------------ header ------------------ */
header > h1.title {
    margin: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: #363636;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #000000;
}

header > h1:hover {
    color: rgb(58, 207, 212);
}
/* ------------------ content ------------------ */
main.content {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 30px;
    align-items: center;
    width: var(--size);
}

/* ------------------ grid container ------------------ */
div.container {
    background-color: white;
    box-shadow: 0 0 30px;
}

div.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
}

div.grid:hover {
    background-color: hsla(0, 3%, 22%, 0.5);
}

.border {
    border: 0.1px solid lightgrey;
}

/* ------------------ grid size control ------------------ */
div.grid-size {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#gridSize {
    -webkit-appearance: none;
    appearance: none;
    background: #acacac;
    outline: none;
    height: 8px;
    opacity: 0.6;
    border-radius: 10px;
    width: 100%;
}

#gridSize:hover {
    opacity: 0.9;
}

#gridSize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(58, 207, 212);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(246, 250, 250)
}

#gridSize::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(58, 207, 212);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(246, 250, 250);
}

label {
    font-size: 1.5em;
    font-weight: bold;
    color: #363636;

}

/* ------------------ color ------------------ */
div.color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

#color::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px #acacac;
}

#color::-moz-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px #acacac;
}

/* ------------------ features ------------------ */
.tools-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

div.mode {
    margin: 45px;
    display: flex;
    gap: 10px;
    align-items: center;
}

div.modeBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

div.grid-tools {
    display: flex;
    gap: 15px;
}

/* ------------------ Mode & tools ------------------ */
i {
    font-size: 35px;
}

button {
    font-family: 'Changa', sans-serif;
    border: 3px solid #c7c7c7;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: rgb(58, 207, 212, 0.6);
    border: none;
}

.modeBtn > button {
    width: 80px;
    height: 80px;
}

div.grid-tools > button {
    font-size: 1.1em;
    font-weight: bold;
    width: 160px;
    padding: 15px 0;
}

.modeBtn > button:hover, .grid-tools > button:hover {
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff;
}

.active {
    background-image: url("./images/background.jpg");
    background-size: cover;
    border: none;
}

/* ------------------ footer ------------------ */
footer {
    margin: 30px;
    background-color: #c7c7c7;
    padding: 20px;
    font-size: 1.1em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ------------------ resources modal ------------------ */
div.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

div.resources {
    position: relative;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
    text-align: center;
    font-size: 1.4em;
    color: rgb(31, 30, 29);
    background-image: url("./images/background.jpg");
    background-size: cover;
    z-index: -99;
}

.resources::before {
    content: '';
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(233, 233, 233, 0.7);
    z-index: -1;
    box-shadow: 0 0 45px #a8a8a8;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    align-self: flex-end;
    font-size: larger;
}

#close:hover {
    background-color: rgb(27, 98, 100);
    color: white;
}

.resources a {
    text-decoration: none;
    color: rgb(27, 98, 100);
    font-weight: bold;
}

.resources a:hover {
    color: rgb(58, 207, 212);
    transition: transform .5s;
}

#openModal {
    font-size: 1em;
    padding: 10px 50px !important;
    font-weight: bold;
}

.showModal {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1.0) !important;
    transition: visibility 0s linear 0s, opacity 0.25s, transform 0.25s;
}
