:root {
    --size: 500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /* the width and height will be fully represented the content */
    /* if border-box means the width and height = content + border */
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: var(--size);
    height: var(--size);
    border: 5px solid red;
}

.border {
    border: 0.1px solid lightgrey;
}

.active {
    background-color: red;
}